:root{
     
        --black: #212121;
        --white: #ffffff;
        --primary: #ff5e00;
        --secondary: #8506fc;
        --grey: #9b9b9b;
        --font: 'Staatliches';
    }

 html{   box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
      
    body{background-color:rgba(0, 0, 0, 0.87);}
     

      

      header{display: flex;
    justify-content: center;
background-color: var(--secondary);}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
  }

/* NAVEGACIÓN */
.navegacion{display: flex;
    flex-direction: column;
    justify-content: center;
}
    
    
    .navegacion a { 
        color: var(--white);
        font-family:var(--font);
        padding: 1rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        display: block;
    }
    
    
    
    
    @media (min-width: 768px) {.navegacion{ flex-direction: row;}
        .navegacion a{font-size: 2.5rem;}}

/* TITULOS Y PARRAFOS */

      h1{text-align: center; 
    margin: 0;}

    h2{text-align: center;
        font-weight: bold;
        padding: 1rem;
        font-size: 2.8rem;
        font-family: var(--font);
        color: var(--primary);}


    h3{text-align: center;
        font-weight: bold;
       
        font-size: 2.5rem;
        font-family: var(--font);
    color: var(--primary);}
    
        p{text-align: center;
            font-weight: normal;
            padding: 1rem;
            font-size: 1.8rem;
            font-family:'Istok Web', sans-serif;
       color: var(--white);}

       img {
        max-width: 100%;
        width: auto;
        height: auto;
        display: block;
      }

       /* IMG SHOOTER */
       .img__inicio{width: 35rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 10rem;}

@media (min-width: 768px) { .img__inicio{width: 70rem;
    padding-top: 20rem;
padding-bottom: 10rem;}
    
}

/* FONDO */
      .fondo{
          background-image: url(fondo.jpg);
        background-image: url(fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
height: 40rem;}

@media (min-width: 768px) {.fondo{
    height: 65rem;}
}
    
.fondo p{

font-family: var(--font);
font-size: 2.5rem;
margin: 2rem auto;
padding: 1rem;}

@media (max-width: 768px) {.fondo p{
    padding-top: 6rem;
    font-family: var(--font);
    font-size: 2rem;}
    
}

/* SOMBRA*/
.sombraprincipal{-webkit-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    background-image: url(FONDO1.jpg);
    background-image: url(FONDO1.webp);
    background-repeat: no-repeat;
    background-size: cover; 
border-radius: 1rem;}

.sombra{-webkit-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);}
/* SERVICIOS */
.servicios__fotografia{padding-bottom: 2rem;}
.servicios__fotografia img{width: 30rem; border-radius: .5rem;
}
@media (min-width: 992px) {
    .servicios__fotografia img{width: 50rem; margin: 0; padding-right: 1rem;}
}

.imagen-servicio{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

@media (min-width: 768px) {
    .imagen-servicio{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        gap: 2rem;
    } 
}


.marco__precio{max-width: 30rem; background-color: var(--secondary); text-transform: uppercase; font-weight: bold; font-family:var(--font);
margin-left: auto; margin-right: auto; border-radius: 2rem; padding: 1rem 0;}
.precio__precio{margin-bottom: 0;}  .marco__precio p{margin-top: 0;}

.precio{padding-bottom: 2rem;}

/*BOTON*/
.boton  {background-color: var(--primary);
    color: var(--white);
    padding: 1rem 3rem;
	margin-top: 1rem;
	font-size: 2rem;
	max-width: 40rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    display: block;
    font-family: var(--font);
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    margin-bottom: 1.5rem;
}

.boton:hover{cursor: pointer;}
    

    .header.fijo {
      left: 0;
      top: 0;
      position: fixed;
      width: 100%;
      box-shadow: 0.1rem 0.2rem 0.3rem 0.3rem rgb(204, 204, 204);
    }

    .galeria {
        padding: 5rem 0;
      }
      .galeria h3 {
        text-align: center;
      }
      
      .galeria-imagenes {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
      }
      @media (min-width: 480px) {
        .galeria-imagenes {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }
      }
      @media (min-width: 768px) {
        .galeria-imagenes {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
        }
      }
      @media (min-width: 992px) {
        .galeria-imagenes {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 2rem;
        }
      }

      body.fijar-body {
        overflow: hidden;
      }
      

      .overlay { 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        position: fixed;
        
      }
      .overlay picture {
        display: block;
        max-width: 80rem;
        background-color: rgba(0, 0, 0, 0.5);
        
      }

.btn-cerrar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: grid;
    place-items: center;
    font-weight: 700;
    
  }
  .btn-cerrar:hover {
    cursor: pointer;
  }


  .precio h3{
      color: var(--white);
  }
/*CONTACTO*/

.contacto__equipo{ display: flex; flex-direction: column; align-items: center; justify-content: space-between;}




.contacto__equipo img{  width: 25rem; height: 25rem; border-radius: 50%; margin-bottom: 1rem; -webkit-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);}


@media (min-width: 992px) {.contacto__equipo{margin-bottom: 4rem;}
.contacto__equipo img{width: 20rem; height: 20rem; }
 .contacto__equipo a{ padding-left: 10rem; padding-right: 10rem;
}

}

.contacto__texto{margin-bottom: 0; padding-bottom: 0;
text-align: center;}

.iconcontacto {background-color: var(--primary); border-radius: 1rem;
margin:0 1rem 1rem 1rem;}

/*DESCARGA*/
.descarga{padding-bottom: 2rem;}

.descarga a{ font-family:'Istok Web', sans-serif;}

/*form*/
 
.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 1rem;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    background: rgb(255,255,255);
background: linear-gradient( rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.856) 85%,rgba(255, 255, 255, 0.356)100%);
    border-radius: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
 
  
  
  
  .formulario__subtitulo,
  .formulario__parrafo {
    text-align: center;
    margin-top: 0;
    font-size: 1.6rem;
  }
 
  .formulario__subtitulo {
    color: rgba(0, 0, 0, 0.7);
    font-size: 3rem;
  }
  .formulario__parrafo {
    color: rgba(0, 0, 0, 0.5);
  }
  .formulario__input,
  .formulario__label {
    display: block;
    width: 100%;
    font-size: 1.6rem;
  }
  .formulario__input {
    padding: 10px;
    background: transparent;
    /* puedo colocar otro color pero con transparencia asi: background: rgba(0,0,0,0.1) porque sino no se ven las label, aunque ya no es necesario porque ya no estan sobre los input y ademas le quite el z-index*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .formulario__input:focus {
    /*outline: 1px solid rgba(0,0,0,0.7);*/
    outline: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  }
  /*.formulario__input:focus + .formulario__label{
      margin-top: -120px;
  }*/
  .formulario__label {
    padding-left: 15px;
    /*position: absolute;*/
    /*margin-top: -78px;*/
    /*z-index: -20;*/
    color: rgba(0, 0, 0, 0.7);
    /*transition: all 0.2s;*/
    margin: 2px;
  }
  .formulario__submit {
   background-color:var(--primary);
    color: var(--white);
    font-family: var(--font);
    padding: 20px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    display: block;
    width: 50%;
    font-size: 2rem;
  }
  
  /*Centrar los campos del formulario (Los input y el boton de Enviar al WhatsApp, que tambien es un input)*/
  
  .formulario__input,
  .formulario__submit {
    margin-left: auto;
    margin-right: auto;
  }
  
  /*.fijar {
      margin-top: -120px;
  } */
  
  /* respuesta del formulario */
  #respuesta {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 1.6rem;
  }
  #respuesta.fail {
    color: red;
  }
  #respuesta.send {
    color: green;
  }

/*FOOTER*/
footer p a{color:var(--white);
text-decoration: none;}