:root{
     
        --black: #212121;
        --white: #ffffff;
        --primary: #ffae00;
        --secondary: #06a2fc;
        --grey: #9b9b9b;
        --font: 'Staatliches';
    }

 html{   box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
      
    body{background-color:rgba(0, 0, 0, 0.87);}
     

      

      header{display: flex;
    justify-content: center;
background-color: var(--secondary);}

.contenido{max-width: 120rem;
    margin: 0 auto 0 auto;}

/* NAVEGACIÓN */
.navegacion{display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
    
    .navegacion a { 
        color: var(--white);
        font-family:var(--font);
        padding: 1rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        display: block;
    }
    
    
    
    
    @media (min-width: 768px) {.navegacion{ flex-direction: row;}
        .navegacion a{font-size: 2.5rem;}}

/* TITULOS Y PARRAFOS */

      h1{text-align: center; 
    margin: 0;}

    h2{text-align: center;
        font-weight: bold;
        padding: 1rem;
        font-size: 2.8rem;
        font-family: var(--font);
        color: var(--primary);}


    h3{text-align: center;
        font-weight: bold;
       
        font-size: 2.5rem;
        font-family: var(--font);
    color: var(--primary);}
    
        p{text-align: center;
            font-weight: normal;
            padding: 1rem;
            font-size: 1.8rem;
            font-family:'Istok Web', sans-serif;
       color: var(--white);}

      

       /* IMG SHOOTER */
       .img__inicio{width: 35rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 10rem;}

@media (min-width: 768px) { .img__inicio{width: 70rem;
    padding-top: 20rem;
padding-bottom: 10rem;}
    
}

/* FONDO */
      .fondo{background-image: url(fondo.jpg);
        background-image: url(fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
width: 100%;
height: 35rem;}
@media (min-width: 768px) {.fondo{
    height: 65rem;}
}
    
.fondo p{

font-family: var(--font);
font-size: 2.5rem;
margin: 2rem auto;
padding: 1rem;}

@media (max-width: 768px) {.fondo p{
    font-family: var(--font);
    font-size: 2rem;}
    
}

/* SOMBRA*/
.sombraprincipal{-webkit-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    background-image: url(FONDO1.jpg);
    background-image: url(FONDO1.webp);
    background-repeat: no-repeat;
    background-size: cover; 
border-radius: .5rem;}

.sombra{-webkit-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 7px 15px 8px rgba(255, 255, 255, 0.75);}
/* SERVICIOS */
.servicios__fotografia{padding-bottom: 2rem;}
.servicios__fotografia img{width: 30rem; border-radius: .5rem;
margin: 0;}
@media (min-width: 992px) {
    .servicios__fotografia img{width: 50rem;}
}

.imagen-servicio{flex-direction: column;
align-items: center;}

@media (min-width: 768px) {
    .imagen-servicio{
        display:flex;
        flex-direction: row;
    justify-content: center;
    gap: 2rem;
    } 
}


.marco__precio{max-width: 30rem; background-color: var(--secondary); text-transform: uppercase; font-weight: bold; font-family:var(--font);
margin-left: auto; margin-right: auto; border-radius: 2rem; padding: 1rem 0;}
.precio__precio{margin-bottom: 0;}  .marco__precio p{margin-top: 0;}

.precio{padding-bottom: 2rem;}

/*BOTON*/
.boton  {background-color: var(--primary);
    color: var(--white);
    padding: 1rem 3rem;
	margin-top: 1rem;
	font-size: 2rem;
	max-width: 40rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    display: block;
    font-family: var(--font);
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    margin-bottom: 1.5rem;
}

.boton:hover{cursor: pointer;}
    


    


/*CONTACTO*/

.contacto__equipo{ display: flex; flex-direction: column; align-items: center; justify-content: space-between;}

.contacto__equipo a{ padding-left: 7rem; padding-right: 7rem;}


.contacto__equipo img{  width: 25rem; height: 25rem; border-radius: 50%; margin-bottom: 1rem; -webkit-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: -1px 13px 13px 0px rgba(255, 255, 255, 0.75);}


@media (min-width: 992px) {.contacto__equipo{display: grid; margin: 0 auto; margin-bottom: 2rem;
grid-template-columns: 30% 70%;}.margenarriba{margin-top: 10rem}
.contacto__equipo img{margin-left: auto; margin-right: 0; margin-left: 5rem;  width: 20rem; height: 20rem; } .contacto__equipo a{margin-right: auto; margin-left: 2rem;}

}

.contacto__texto{margin-bottom: 0; padding-bottom: 0;}

.iconcontacto {background-color: var(--primary); border-radius: 1rem;
margin:0 1rem 1rem 1rem;}


/*ICONO*/




/*DESCARGA*/
.descarga{padding-bottom: 2rem;}

.descarga a{ font-family:'Istok Web', sans-serif;}



/*FOOTER*/
footer p{color:var(--black);}